<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crypto.prices">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".CryptoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--<meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="@string/startapp_app_id" />-->

        <activity
            android:name=".view.activity.SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TnCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.market.crypto.detail.CryptoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.market.crypto.detail.CryptoDetailSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.market.categories.CategoriesCoinListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.market.nfts.detail.NftDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.market.exchanges.detail.ExchangesDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.market.exchanges.detail.ExchangesDetailSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.market.derivatives.detail.DerivativesDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.explore.CurrConverterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.more.LanguageSelectActivity"
            android:label="@string/select_language"
            android:screenOrientation="portrait" />

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".view.widget.crypto.CryptoWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_config_crypto" />
        </receiver>
        <service
            android:name=".view.widget.crypto.CryptoWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".view.widget.watchlist.WatchlistWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_config_wathclist" />
        </receiver>
        <service
            android:name=".view.widget.watchlist.WatchlistWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Package visibility -->
        <!--<queries>
            &lt;!&ndash; Mail &ndash;&gt;
            <intent>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent>
        </queries>-->
    </application>

</manifest>